<nav class="navbar fixed-bottom navbar-expand navbar-light bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/TheCell/angular-pairs" target="_blank">Source</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://thecell.eu/" target="_blank">Author</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
